<%= form_with(model: topic,local: true) do |form| %>
  <% if topic.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% topic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, :rows => "5", class: "form-control" %>
  </div>

  <div class="field">
     <%= form.label :category %>
     <%= form.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
       <%= category.label do %>
           <%= category.check_box %>
           <%= category.text %>
       <% end %>
     <% end %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-outline-primary btn-block" %>
  </div>
<% end %>
