<!DOCTYPE html>
<html>
  <head>
    <title>Hobbys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <% if user_signed_in? %>
          <%= link_to  bbs_path, class: "navbar-brand mr-auto" do %>
            <%= image_tag "logos.png" %>
          <% end %>
          <ul class="navbar-nav">
            <%= link_to 'プロフィール変更', edit_user_registration_path, class: "nav-item nav-link" %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
          </ul>
        <% else %>
        <%= link_to  bbs_path, class: "navbar-brand mr-auto" do %>
          <%= image_tag "logom.png" %>
        <% end %>
        <p class="nav-item mr-auto">趣味を語る掲示板</p>
        <ul class="navbar-nav">
          <%= link_to '新規登録', new_user_registration_path, class: "nav-item nav-link" %>
          <%= link_to 'ログイン', new_user_session_path, class: "nav-item nav-link" %>
        </ul>
        <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
